:root{
    --white:#ddd;
    --dark:#111;
    --darkGrey:#474b4f;
    --lightGrey:#6b6e70;
    --lightGreen:#86c232;
    --darkGreen:#61892F;
    --transition: all 0.5s ease;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Light",sans-serif;
}
body{
    line-height: 1.6;
}
img{
    width: 100%;
    display: block;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 10px 0;
}
/*================================utility clases=========================*/
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 90vw;
    margin: 0 auto;
}
.btn{
    background: var(--darkGreen);
    border: none;
    display: block;
    width: 150px;
    text-align: center;
    color: var(--darkGreen);
    text-transform: uppercase;
    background: transparent;
    font-size: 15px;
    padding: 12px;
    border: 2px solid var(--darkGreen);
    border-radius: 25px;
    margin: 15px 0;
    transition: var(--transition);
}
.btn:hover{
    background: var(--darkGreen);
    color: #fff;
}
.active{
    color: var(--lightGreen) !important;
}
/*===========================end of utilty class=========================*/




/*=============================header styles===================*/
.header{
    min-height: 100vh;
    background: url("assets/img/Black Elegant Photography Logo.gif") center/cover no-repeat;
    color: white;
}
.top-nav a{
    color: white;
}
.brand-and-navBtn{
    background: black;
    position: relative;
    z-index: 999;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 24px;
    padding: 15px 25px;
    color: var(--white);
}
.brand-name{
    letter-spacing: 5px;
    cursor: pointer;



}
.navBtn{
    width: 40px;
    height: 40px;
    border: 1px solid var(--white);
    cursor: pointer;
}
.navBtn:hover{
    background: white;
    color: black;
    transition: var(--transition);
}
.top-nav{
    background: black;
    transform: translateY(-600px);
    transition: var(--transition);
}
.showNav{
    transform: translateY(0);
}
.search-icon{
    display: none;
}
.top-nav ul li{
    padding: 10px 0;
}
.top-nav ul a{
    position: relative;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    display: block;
}
.top-nav ul a::after{
    content: "";
    height: 2px;
    background: var(--lightGreen);
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    transition: var(--transition);
}
.top-nav ul a:hover::after{
    width: 100px;
}

.about{
    margin-top: -160px;
}
.about-content img{
    width: 140px;
    height: 140px;
    border-radius:50% ;
}
.about-img{

    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
}
.about-content h2{
    font-size: 48px;
    text-align: center;
    margin-bottom: 35px;
    color: var(--lightGreen);
}
.about-content h3{
    color: white;
    font-size: 30px;
    font-weight: 100;
    background: transparent;
    width: 600px;
    margin: 35px auto;
    text-align: center;
}
blockquote{
    font-size: 20px;
    font-weight: 300;
    opacity: 0.9;
    width: 60vw;
    margin: 45px auto 15px auto;
    text-align: center;

}
blockquote span{
    font-size: 14px;
    text-transform: uppercase;
    color: var(--darkGreen);
    font-weight: 300;
    letter-spacing: 5px;
    display: block;
}
.social-icons{
    width: 350px;
    margin: 40px auto 0 auto;
    padding-bottom: 30px;
    position: relative;
   top: 300px;
}
.social-icons ul a{
    color: white;
    font-size: 30px;
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid #ffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
}
.social-icons ul{
    display: flex;
    justify-content: space-around;
}
.social-icons ul a:hover{
    background: var(--lightGreen);
    border-color: var(--lightGreen);;
}

/*============================end of header=========================*/

/*====================main section=================*/

/*section---1*/
.section-one{
    margin: 40px 0;
    min-height: 100vh;
}
.sec-one-left{
    height: 100vh;
    background: url("assets/img/WhatsApp Image 2023-06-08 at 20.15.57.jpeg") center/cover no-repeat;
    box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow:0px 0px 14px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.75);
    background-repeat: no-repeat;
    background-size: cover;
}
.sec-one-left div{
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px;
}
.sec-one-left div h3{
    font-size:28px;
    opacity: 0.9;
}
.sec-one-left div p{
    font-weight: 300;
    opacity: 0.8;
}
.sec-one-right h3{
    color: var(--lightGrey);
}
.sec-one-right >h3{
    text-align: center;
}
.sec-one-right p{
    opacity: 0.9;
    font-weight: 300;
}
.work-content{
    margin: 50px 0;
}
.work-imgs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap:20px ;
}
.work-img-1{
    background: url("assets/img/WhatsApp Image 2023-06-21 at 20.19.32.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    transition: var(--transition) ;
}
.work-img-2{
    background: url("assets/img/img.png");
    height: 400px;
    transition: var(--transition) ;
    background-repeat: no-repeat;
    background-size: cover;
}
.work-imgs div:hover{
    box-shadow: 0 0 8px #000;
    -webkit-box-shadow:0px 0px 14px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.75);
}
/*====section 2=======*/
.section-two{
    margin: 40px 0;
}
.section-two h2{
    text-align: center;
    font-size: 40px;
}
.section-two span{
    color: var(--darkGrey);
    text-align: center;
    display: block;
    font-size: 20px;
    margin-bottom: 30px;
}
.insta-imgs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.insta-imgs > div{
    position: relative;
}
.icon-overlay{
    position: absolute;
    top: 0;
    color: white;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 50px;
    background: rgba(134,194,50,0.4);
    opacity: 0;
    transition: var(--transition);
}
.insta-imgs> div:hover .icon-overlay{
    opacity: 1;
}






/*================end of main section====================*/



/*=====footer=========*/
.footer{
    background: var(--dark);
    color: white;
    padding: 40px 0;
    text-align: center;
}
.footer-container > div{
    margin: 40px 0;
}
.footer-container h2{
    color: var(--lightGreen);
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 7px;
}
.footer-container p{
    opacity: 0.7;
}
.subs{
    background: #000000;
    width:350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
}
.subs i{
    font-size: 26px;
    flex: 10%;
    display: block;
}
.subs input{
    flex: 60%;
    background: transparent;
    border: none;
    font-size: 16px;
    padding: 0 5px;
    outline: 0;
    color: white;
}
.subs button{
    flex: 30%;
    font-size: 16px;
    padding: 15px 0;
    font-weight:bold;
    background: var(--lightGreen);
    border: none;
    transition: var(--transition);
    cursor: pointer;
}
.subs button:hover{
    color: white;
}
.footer>p{
    text-align: center;
    font-size: 14px;
}

/*============media querys=-======================= */

@media screen and (min-width: 678px){
    .contact-middle{
     display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 20px;
    }
}

@media screen and (min-width: 800px){
    .insta-imgs{
        grid-template-columns: repeat(4,1fr);
    }

/*section3*/
.gallery{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}



.blog-wrapper-sm{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
}

}
@media screen and (min-width: 992px){
.nav-section{
    display: flex;
    justify-content: space-between;
}
    .navBtn{
        display: none;
    }
    .brand-and-navBtn{
        flex: 0 0 10%;
        background: none;
    }
    .top-nav{
        flex: 0 1 80%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        transition: transform 0s ease;
        transform: translateY(0);
        background: transparent;
    }
    .top-nav ul{
        display: flex;

    }
    .top-nav ul li{
        margin-right: 30px;
        margin-left: 30px;
    }
    .about{
        margin-top: 0;
    }
    .search-icon{
        flex: 0 0 10%;
        display: block;
        display: flex;
         justify-content: center;
        align-items: center;
        font-size: 24px;
        cursor: pointer;
        transition: var(--transition);
    }
    .search-icon i:hover{
        transform: scale(1.2);
    }

    .contact-middle{
        grid-template-columns: repeat(4,1fr);
    }

    .contact-bottom{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 40px;
    }





}
@media screen and (min-width: 1000px){

.section-one .container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 50px;
}
    .sec-one-left{
        align-self:center ;
    }
    .work-content{
        margin-top:0;
    }
    .sec-one-left{
        height: 100%;
    }


    .blog-wrapper-lg{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 20px;
    }



.footer-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:20px;
}

}
@media screen and (min-width: 1200px){
    .footer-container > div{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    /*section 3*/
    .gallery{
        grid-template-columns: repeat(3,1fr);
    }

}

    @media screen and (min-width: 1400px){
    .blog-wrapper-sm{
        grid-template-columns: repeat(4,1fr);
    }
    }
@media screen and (max-width: 500px){
    .header{
        padding-bottom: 30px;
    }
    .social-icons{
        display: none;
    }
    .about-content h3{
        width: 100%;
    }
    .about-content blockquote{
        font-size: 16px;
        width: 100%;
    }
    .subs{
        width: 280px;
    }
    .subs i{
        display: none;
    }
    .subs input{
        width: 100%;
    }
    .subs button{
        padding-left: 8px;
        padding-right: 8px;
    }
    h2{
        font-size: 30px !important;
    }
    h3{
      font-size: 20px !important;
    }
    p{
        font-size: 15px;
    }
    .btn{
        font-size: 14px;
        padding: 8px 0;
    }
    .work-imgs{
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
    }
}



/*==================gallery html================*/
.sectioin-three{
    margin: 40px 0;
}
.single-img{
    position: relative;
    margin: 10px;
}
.single-img-content{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    padding: 5px 30px;

}
.single-img-content h3{
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    background-color: rgb(0,0,0,0.7);
}
/*=======================blog html=============================*/

.section-four{
    margin: 40px 0;
}
.blog{
    margin: 40px 0;
}
.blog-content{
    padding:25px ;
    background: white;
}
.blog span{
    display: block;
}
.badge{
    background: var(--lightGreen);
    width: 140px;
    border-radius: 5px;
    padding: 5px 0;
    color: white;
    text-align: center;
    margin-bottom: 8px;
}
.misc-info{
    font-size: 14px;
    color: var(--dark);
    margin-top: 16px;
}
.blog-title{
    font-size: 20px;
    font-weight: 900;
}
.blog-text{
    font-weight: 300;
}



/*=============================contact==========================*/

.sectioin-five{
    margin: 40px 0;
}
.section-five .container div{
    margin: 20px 0;
}
.contact-top{
    text-align: center;
}
.contact-top h3{
    font-size: 28px;
}

.contact-top p{
    font-weight: 300;
    width: 70%;
    margin: 0 auto;
}
.contact-middle div{
    text-align: center;
    padding: 25px 0;
    background: var(--dark);
    color: white;
}
.contact-middle div span{
    display: block;
}
.contact-icon{
    font-size:30px;
}
.contact-middle div span:nth-child(2){
    font-size: 18px;
    font-weight: bold;
}
.contact-middle div p{
    font-weight: 300;
    opacity:0.7 ;
}
.contact-bottom{
    margin-top: 50px !important;
}
form input[type= "text"], form input[type = "email"], form textarea{
    width: 100%;
    font-size: 16px;
    padding: 10px 15px;
    margin: 10px 0;
    border: 1px solid var(--lightGreen);
    outline: none;
    border-radius: 5px;
}
.contact-bottom{
    padding: 0 20px;
}








